/*General style
-------------------------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
::placeholder {
  opacity: 0.54;
  color: #424242;
}
::selection {
  background-color: rgba(0,0,0,0.66);
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  line-height: 1.4;
}
strong {
  font-weight: bold;
}
.header-contact,
.sub-hd-two,
.sub-hd-three,
.main-form,
.subfooter-one,
.subfooter-two {
  max-width: 1140px;
  margin: 0 auto;
}
button,
input,
select,
textarea {
  border: none;
  outline: 0;
  font: inherit;
  color: inherit;
}
input:not([type="submit"]), select {
  height: 46px;
}
input:not([type="submit"]), textarea, select {
  font-size: 16px;
  color: inherit;
  padding: 8px 0;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1.5em;
  width: 100%;
  transition: all 0.3s;
}
input:not([type="file"]):focus, textarea:focus {
  border-color: #1d5d74;
  box-shadow: 0 -1px 0 0 #1d5d74 inset;
}
.clearfix {
  overflow: hidden;
}

/* Header style
--------------------------*/
.header-contact-wrap {
  display: none;
}

/* Sub-header two style */
.sub-hd-two-wrap {
  background: #1d5d74;
  padding: 0 25px 0 15px;
  box-shadow: 0 4px 5px -2px rgba(0,0,0,0.22), 0 2px 1px -1px rgba(0,0,0,0.05);
  z-index: 2;
}

/* Buffer-logo  */
.sub-hd-two > a {
  line-height: 50px;
}
.buffer-logo {
  display: inline-block;
  max-width: 200px;
  height: 30px;
  vertical-align: middle;
}
.buffer-logo img {
  display: block;
  width: auto;
  height: inherit;
}
.header-search {
  float: right;
  cursor: pointer;
}
.header-search i {
  color: #fff;
  font-size: 16px;
  padding: 17px 0 17px 10px;
}
.menu-wrap {
  float: right;
  cursor: pointer;
}
.menu {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 17px 10px;
}
.search-modal-background {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  right: -25px;
  top: -25px;
  border-radius: 50%;
  background: #1d5d74;
  opacity: 0.96;
  transition: transform 0.8s;
}
.search-modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(29, 93, 116, 0);
  color: #ffffff;
  opacity: 0.96;
}
.modal-form-table {
  display: table;
  width: 100%;
  height: 100%;
}
.modal-form-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.modal-input-wrap {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
.modal-input-wrap input {
  font-size: 20px;
  line-height: 40px;
  height: auto;
  text-align: center;
  color: inherit;
}
.modal-input-wrap input:focus {
  color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 -1px 0 0 #ffffff inset;
}
.modal-input-wrap input::placeholder {
  opacity: 0.8;
}
.search-modal label {
  font-size: 16px;
  display: block;
  text-align: center;
  opacity: 0.66;
}
.close-modal {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 25px 32px;
  font-size: 50px;
  cursor: pointer;
  opacity: 0.66;
  transition: opacity 0.3s;
}
.close-modal:hover {
  opacity: 1;
}

/* Top Navigation */
.top-nav {
  display: none;
}
.top-nav-active {
  display: block;
}
.top-nav ul {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.top-nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.06) inset;
  user-select: none;
}

/* Sub-header three style */
.sub-hd-three-wrap {
  background: #f5f5f5;
  padding: 25px;
}
.sub-hd-three h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

/*Form style
-------------------------*/
.main-form-wrap {
  padding: 25px;
}
.main-form {
  padding-top: 10px;
  color: #424242;
}
.main-form p {
  margin: 0 0 1.5em;
}
.left-form-element {
  float: left;
  width: 48%;
}
.right-form-element {
  float: right;
  width: 45%;
}
.main-form .dob {
  margin-bottom: 0;
}
input[type="date"] {
  width: 48%;
}
textarea {
  height: 120px;
  resize: vertical;
}
.notice-period {
  display: inline-block;
  padding: 0 10px 12px 0;
}
input[type="checkbox"], input[type="radio"] {
  width: 24px;
  height: 24px;
}
.notice-period input[type="checkbox"] {
  display: none;
}
.label {
  cursor: pointer;
  position: relative;
  top: -10px;
  padding-right: 10px;
  user-select: none;
}
.label i {
  opacity: 0.66;
}
.label:hover i {
  opacity: 1;
}

.label .far, .label .fas {
  padding-right: 12px;
}
.label .fas {
  color: #1d5d74;
}

/* Attachment Information style */
.attachment {
  padding-bottom: 10px;
}
.attachment div {
  padding-bottom: 10px;
}
input[type="file"] {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
}
.privacy-wrap {
  position: relative;
}
#privacy-checkbox {
  cursor: pointer;
}
.privacy-notice {
  margin-left: 20px;
  cursor: pointer;
  user-select: none;
  position: absolute;
}
.privacy-notice a {
  color: #1d5d74;
  text-decoration: none;
}
.privacy-notice a:hover {
  color: #d92929;
}
input[type="submit"] {
  background: #1d5d74;
  display: inline-block;
  padding: 11px 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: none;
  cursor: not-allowed;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3);
}

/*Footer style
-------------------------*/
.subfooter-one-wrap {
  padding: 40px 25px;
  background: #212121;
  overflow: hidden;
}
.subfooter-one {
  color: #757575;
  border-color: #333;
}
.col-4, .col-5 {
  margin-bottom: 30px;
}
.col-3 {
  user-select: none;
}
h4 {
  font-size: 20px;
  color: #9e9e9e;
  font-weight: 300;
}
.footer-form {
  min-width: 100px;
  position: relative;
}
.footer-form input {
  margin-bottom: 30px;
  border-color: #333;
}
.footer-form input:focus {
  border-color: #ffb03a;
  box-shadow: 0 -1px 0 0 #ffb03a inset;
}
.footer-form input::placeholder {
  opacity: 1;
}
.footer-search-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0 20px 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.footer-search-icon:hover {
  opacity: 1;
}
.mail-ft-contacts i {
  font-size: 27px;
  float: left;
}
.mail-ft-contacts  h4 {
  font-size: 18px;
  margin-left: 44px;
  padding-top: 3px;
  padding-bottom: 16px;
  margin-bottom: 0;
}

/* Footer's social media contacts */
.tooltip {
  display: inline-block;
}
.tooltiptext {
  display: none;
}
.social-ft-contact {
  background: #292929;
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-bottom: 5px;
  border-radius: 50%;
}
.email i {
  color: #697277;
  padding: 14px;
}
.email:hover {
  background: #697277;
}
.email:hover i {
  color: #fff;
}
.facebook i {
  color: #42599e;
  padding: 14px 17px;
}
.facebook:hover {
  background: #42599e;
}
.facebook:hover i {
  color: #fff;
}
.twitter i {
  color: #55acee;
  padding: 14px;
}
.twitter:hover {
  background: #55acee;
}
.twitter:hover i {
  color: #fff;
}
.google i {
  color: #db4437;
  padding: 14px 12px;
}
.google:hover {
  background: #db4437;
}
.google:hover i {
  color: #fff;
}
.linkedin i {
  color: #117eb9;
  padding: 14px 15px;
}
.linkedin:hover {
  background: #117eb9;
}
.linkedin:hover i {
  color: #fff;
}
.youtube i {
  color: #cd201f;
  padding: 14px 13px;
}
.youtube:hover {
  background: #cd201f;
}
.youtube:hover i {
  color: #fff;
}
.instagram i {
  color: #a17357;
  padding: 14px 15px;
}
.instagram:hover {
  background: #a17357;
}
.instagram:hover i {
  color: #fff;
}
.skype i {
  color: #00aff0;
  padding: 14px 15px;
}
.skype:hover {
  background: #00aff0;
}
.skype:hover i {
  color: #fff;
}

/* Sub-footer two style */
.subfooter-two-wrap {
  padding: 30px 25px;
  background: #111;
  color: #757575;
}
.subfooter-two {
  text-align: center;
}

/*  Footer navigation style  */
.bottom-nav {
  margin-bottom: 10px;
}
.bottom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bottom-nav li {
  display: block;
}
.bottom-nav li a {
  display: inline-block;
  color: #9e9e9e;
  text-decoration: none;
  outline: 0;
  margin:  0 10px;
}
.bottom-nav li a:hover {
  color: #ffb03a;
}

/* To top style */
.to-top {
  background: rgba(0,0,0,0.3);
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
  transition: all 0.3s;
}
.to-top i {
  padding: 10px 0;
  font-size: 30px;
}
.to-top:hover {
  background: #d92929;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 30px rgba(0,0,0,0.15);
}

/*Media Queries Style
-----------------------------*/
@media (min-width: 601px) {
  .sub-hd-three-wrap,
  .main-form-wrap {
    padding: 40px;
  }
  .sub-hd-two-wrap {
    padding: 0 40px;
  }
  .sub-hd-two > a {
    line-height: 64px;
  }
  .header-search i, .menu {
    padding: 20px;
    font-size: 24px;
  }
  .modal-input-wrap input {
    font-size: 40px;
    line-height: 80px;
  }
  .search-modal label {
    font-size: 24px;
  }
  .subfooter-one-wrap,
  .subfooter-two-wrap {
    padding-right: 40px;
    padding-left: 40px;
  }
  .tooltip {
    position: relative;
  }
  .tooltiptext {
    display: inline-block;
    padding: 2px 10px;
    visibility: hidden;
    background: black;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: 55px;
    left: 5px;
  }
  .tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black transparent transparent transparent;
  }
  .social-ft-contact:hover + .tooltiptext {
    visibility: visible;
  }
  .bottom-nav li {
    display: inline-block;
  }
}
@media (min-width: 650px) {
  .attachment-wrap {
    overflow: hidden;
  }
  .attachment {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.5rem;
  }
  h4 {
    font-size: 24px;
  }
  .sub-hd-three h1 {
    font-size: 40px;
  }
  .main-form {
    overflow: hidden;
  }
  .col-8 {
    width: 66.66%;
    float: left;
  }
  .subfooter-one-wrap {
    overflow: hidden;
  }
  .col-4, .col-5 {
    margin-bottom: 0;
  }
  .col-3 {
    width: 25%;
    float:left;
  }
  .col-4 {
    width: 33.33%;
    float:left;
    padding-right: 5%;
  }
  .col-4 p {
    margin-bottom: 0;
  }
  .col-5 {
    width: 41.66%;
    float:left;
    padding-left: 2%;
    padding-right: 7%;
  }
}
@media (min-width: 900px) {
  .header-contact-wrap {
    display: block;
    padding: 0 40px;
    background: #1d5d74;
  }
  .header-contact {
    color: #c8b8e5;
    overflow: hidden;
    line-height: 40px;
    padding: 5px 0;
  }
  .mail-hd-contact {
    display: inline-block;
    font-size: 14px;
  }
  .mail-hd-contact a {
    color: #c8b8e5;
    text-decoration: none;
    display: inline-block;
    padding-left: 8px;
  }
  .mail-hd-contact a:hover {
    color: #fff;
  }
  .info-buffer {
    display: inline-block;
  }
  .social-hd-contact {
    float: right;
    font-size: 0;
  }
  .social-hd-contact i {
    display: inline-block;
    padding: 0 8px;
    color: #c8b8e5;
    font-size: 16px;
  }
  .social-hd-contact i:hover {
    color: #fff;
  }
  .buffer-logo {
    height: 50px;
  }
  .buffer-logo img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .menu-wrap {
    display: none;
  }
  .top-nav {
    display: block;
    float: right;
  }
  .top-nav li {
    float: left;
  }
  .top-nav li a {
    padding: 20px;
    box-shadow: none;
  }
  .sub-hd-three-wrap {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main-form-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .subfooter-one-wrap {
    padding-top: 70px;
  }
  .subfooter-two {
    overflow: hidden;
  }
  .bottom-nav {
    float: right;
    margin-bottom: 0;
  }
  .copyright {
    float: left;
  }
}
